body{
    background-color: #f1faee;
}

h1,h2{
    color: #1d3557;
}

button{
    background-color: #a8dadc;
}
#signup{
    background-color: #1d3557;
    color: #a8dadc;;
}

span{
    color: #457b9d;
}

.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}